# App
APP_NAME="GoGenix-AI Inventory"
APP_VERSION="1.0.0"
DEBUG=False
SECRET_KEY=51d25436873126be8191e86ac069a04153e374d53b9cbd7fc996dc740b65c0ef

# Database
DATABASE_URL=postgresql://postgres:Khather@1234@db.vyaiwczdwsqwbnakdgit.supabase.co:5432/postgres

# Redis
REDIS_URL=redis://default:Af_FAAIncDIxZjAxMjFkODVlYmU0MDJmYTFhZWJlNzU3YWJkN2ZmMnAyNjU0Nzc@assuring-hippo-65477.upstash.io:6379

# Groq AI
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile

# Celery
CELERY_BROKER_URL=redis://default:Af_FAAIncDIxZjAxMjFkODVlYmU0MDJmYTFhZWJlNzU3YWJkN2ZmMnAyNjU0Nzc@assuring-hippo-65477.upstash.io:6379
CELERY_RESULT_BACKEND=redis://default:Af_FAAIncDIxZjAxMjFkODVlYmU0MDJmYTFhZWJlNzU3YWJkN2ZmMnAyNjU0Nzc@assuring-hippo-65477.upstash.io:6379

# CORS
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com

# Token Expiry
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
